:root {
  --screen-height: calc(100vh - 112px);
}

.body {
  min-height: var(--screen-height);
}

.body .sidenav {
  padding: 20px;
  border-right: 2px solid #f0f0f0;
  margin-right: 20px;
  height: var(--screen-height);
}